// 颜色定义规范
$color-main = #2b2b2b
$color-background = #f0fdf4
$color-auxiliary = #6f6f6f
$color-minor = #9a9a9a
$color-separation-one = #dedede
$color-separation-two = #f1f1f1
$color-theme = #3db777
$color-sub-theme = #ff9805
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-background-two = #fc0124
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
